html, body {
    margin: 0;
    padding: 0;
    width: 10000px;
    height: 10000px;
    background: url("img/grass.jpg");
    background-repeat: repeat;
    background-size: 200px 200px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.case {
    position: absolute;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: url("img/grass.jpg");
    background-size: cover;
    background-position: center;
    user-select: none;
}

.center_case {
    border: 1px solid black;
    width: 198px;
    height: 198px;
    color: darkslategray;
    font-size: 350%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#center_origin {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 5000px;
    top: 5000px;
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    background: url("img/village.jpg");
    background-size: cover;
    background-position: center;
}

.player {
    position: absolute;
    width: 350px;
    height: 350px;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: url(img/player.png);
    background-size: 135px;
    background-repeat: no-repeat;
    background-position: center 15px;
    transition: background-position 500ms;
}

.discover-none {
    background-color: rgba(128, 128, 128, 0.8);
}

.moveon {
    cursor: pointer;
}

.moveoff {
    cursor: default;
}

#bottom-right {
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    display: inline-flex;
    gap: 4vw;
    z-index: 20;
}

#bottom-right img{
    max-width: 3vw;
    transition: transform 500ms;
    margin: 8px;
}

#bottom-right img:hover{
    transform: scale(1.2);
    transition: transform 500ms;
}

#bottom-right div{
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#top-left {
    position: fixed;
    left: 2vw;
    top: 2vh;
    display: inline-flex;
    z-index: 20;
    align-items: center;
}

#portrait {
    background-color: white;
    border: 2px solid black;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    overflow: hidden;
}

#portrait img{
    width: 6vw;
    margin: -10px;
}

#life-bar {
    width: 12vw;
    height: 2vh;
    border: 2px solid black;
    margin-left: -4px;
    z-index: -1;
}


#life {
    background-color: rgb(180, 36, 36);
    width: 20%;
    height: 100%;
}